a{
    cursor:pointer;
}

.card-text{
    padding-bottom:1rem;
}

h5{
    font-weight:bold;
    color:#2b2b2b;
}

.box-shadow{
    -webkit-box-shadow: 0 1px 1px rgba(72,78,85,.6);
    box-shadow: 0 1px 1px rgba(72,78,85,.6);
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

.box-shadow:hover{
    -webkit-box-shadow: 0 20px 40px rgba(72,78,85,.6);
    box-shadow: 0 20px 40px rgba(72,78,85,.6);
    -webkit-transform: translateY(-15px);
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -o-transform: translateY(-15px);
    transform: translateY(-15px);
}

.card{
    border-radius: 25px;
    border:none;

}

.card .card-img-top{
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.card svg{
    position:absolute;
    top:19rem;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
    filter:drop-shadow(2px -9px 4px rgba(0, 69, 134, 0.2));
}
.card:hover svg{
    filter:drop-shadow(2px -9px 4px rgba(0, 69, 134, 0.4));
}

.second-card-icons, .fa-solid{
    position:absolute;
    top: 18rem;
    right: 2rem;
    color:white;
    font-size:3rem;
    background: rgb(238,174,202);
    background: linear-gradient(133deg, rgba(255,255,255,1) 0%, rgba(211,210,231,1) 19%, rgba(11,39,73,1) 100%);
    padding: 1rem;
    border-radius: 100%;
    transition: all .6s ease-in-out;
}

.card:hover .second-card-icons{
    transform: rotate(-180deg);
}

.second-card-icons:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.7) 0px 18px 36px -18px inset;
}
.upload-card {
    width: 80rem!important;
    /* height: 11.5rem!important; */
    border-radius: 15px!important;
    /* border-top-left-radius: 36px!important; */
    /* border-bottom-left-radius: 30px; */
    background: #fefefe;
    justify-content: center;
    margin: 0 auto!important;
}
.data-card {
    margin-top: 25px!important;
    width: 80rem!important;
    height: 35rem!important;
    border-radius: 15px!important;
    background: #fefefe;
    padding: 10px;
}
@media only screen and (max-width: 576px) {
    .upload-card {
        width: 20rem !important;
    }
    .data-card {
        margin-top: 25px!important;
        width: 20rem!important;
        height: 42rem!important;
        padding: 0;
    }
}