
html,
body {
	height: 100%;
	font-family: 'Josefin Sans', sans-serif;
	background-color: #f9f9f9;
}
body::-webkit-scrollbar{
	display: none;
}
.link-l-dark{
	color:#808181!important;
}
.link-l-dark:hover{
	color:#4d5154!important;
}
.hero-info{
	margin-bottom: 0;
}
.user-profile-circle {
	width: 100px;
	height: 100px;
	border-radius: 25%;
	margin: 0 auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	color: #40424a;
	margin: 0;
	font-weight: 600;
	font-family: 'Josefin Sans', sans-serif;
}

h2 {
	font-size: 48px;
}

h3 {
	font-size: 30px;
}

p {
	font-size: 18px;
	color: #808181;
	line-height: 1.8;
}

img {
	max-width: 100%;
}
/* alert*/
.alert-danger {
	width: 400px;
	height: 40px;
	padding: 8px 13px;
	position: fixed;
	top: 15px;
	right: 85px;
	color: brown;
	font-weight: 800;
	font-size: 15px;
	border-radius: 10px;
}
.alert-success {
	width: 400px;
	height: 40px;
	padding: 8px 13px;
	position: fixed;
	top: 15px;
	right: 85px;
	color: cadetblue;
	font-weight: 800;
	font-size: 15px;
	border-radius: 10px;
}
.btn-upload-label {
	background: #fefefe;
	border: 4px solid #80a8a8 !important;
	font-size: 20px;
	/* width: 100%!important; */
	padding: 10px 0;
	color: #858585;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	width: 71rem;
}
.close-btn-danger{
	position: fixed;
	top: 19px;
	right: 100px;
	border: none;
	background: transparent;
	font-size: 20px;
	font-weight: 900;
	cursor: pointer;
	color: brown;
}
.close-btn-success{
	position: fixed;
	top: 19px;
	right: 100px;
	border: none;
	background: transparent;
	font-size: 20px;
	font-weight: 900;
	cursor: pointer;
	color: cadetblue;
}
.btn-upload-label:hover{
	color: #80a8a8;
	background: #f6f5f5;

}
/* alert*/

.submit {
	border: none;
	/* border-radius: 5px; */
	font-size: 20px;
	width: 10rem;
	margin: 0 auto;
	color: #fefefe;
	padding: 14px 0;
	text-transform: uppercase;
	font-weight: 700;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	margin-left: -48px;
	background: #80a8a8 !important;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
	outline: none;
}

a:hover,
a:focus {
	text-decoration: none;
	outline: none;
}

ul,
ol {
	padding: 0;
	margin: 0;
}

/*---------------------
	Helper CSS
-----------------------*/
.spad {
	padding-top: 140px;
	padding-bottom: 180px;
}

.section-title h2 {
	display: inline-block;
	position: relative;
	margin-bottom: 110px;
	padding-bottom: 2px;
	line-height: normal;
}

.section-title h2:after {
	position: absolute;
	content: '';
	width: 100%;
	height: 2px;
	left: 0;
	bottom: 0;
	background: #40424a;
}

.set-bg {
	background-repeat: no-repeat;
	background-size: cover;
}

/*------------------------
  Common Elements
--------------------------*/

/* Preloder */
#preloder {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 999999;
	background: #fff;
}

.loader {
	width: 30px;
	height: 30px;
	border: 3px solid #000;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -13px;
	margin-left: -13px;
	border-radius: 60px;
	border-left-color: transparent;
	animation: loader 0.8s linear infinite;
	-webkit-animation: loader 0.8s linear infinite;
}


/*---------------------
	Header section
-----------------------*/
.header-section {
	padding: 50px 40px;
	background: #f9f9f9;
}

.site-logo h2 {
	font-size: 36px;
}

.site-logo h2 a {
	color: #40424a;
}

.site-logo p {
	font-size: 14px;
	line-height: normal;
}

.header-buttons a {
	margin-top: 15px;
}

/*---------------------
	Footer section
-----------------------*/
.footer-section {
	background: transparent;
	margin: 20px 50px;
	bottom: 0;
	position: fixed;
}

.copyright {
	padding-top: 5px;
	font-size: 12px;
	color: #838488;
	line-height: normal;
}


/* ===========================
  Responsive
==============================*/
@media only screen and (max-width: 1730px) {
	.home-two-style .social-section .social-link-warp:after {
		display: none;
	}
}

@media only screen and (max-width: 1600px) {}

@media only screen and (max-width: 1450px) {  }

@media only screen and (max-width: 1366px) and (min-width: 1200px) {

	.container-warp {
		min-width: 80%;
		margin-left: 10%;
	}
}

/* Medium screen : 992px. */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
}

/* Tablet :768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.portfolio-warp {
		padding: 0;
	}
	.hidden-md {
		display: none !important;
	}
}

/* Large Mobile :480px. */
@media only screen and (max-width: 767px) {
	.hidden-md {
		display: none !important;
	}
	.header-section {
		padding: 35px 0;
	}
	.header-buttons a {
		margin-top: -27px;
	}
	.spad {
		 padding-top: 0;
		 padding-bottom: 0;
	}

	.info-section .hero-info ul li span {
		color: #9c9b9b;
	}
}

/* small Mobile :320px. */
@media only screen and (max-width: 479px) {
	/* alert*/
	.alert-danger {
		width: 265px;
		height: 35px;
		padding: 7px 8px;
		position: fixed;
		top: 5px;
		right: 55px;
		color: brown;
		font-weight: 800;
		font-size: 14px;
		border-radius: 10px;
	}
	.close-btn-danger {
		position: fixed;
		top: 6px;
		right: 65px;
		border: none;
		background: transparent;
		font-size: 22px;
		font-weight: 900;
		cursor: pointer;
		color: brown;
	}
	.alert-success {
		width: 265px;
		height: 35px;
		padding: 7px 8px;
		position: fixed;
		top: 5px;
		right: 55px;
		color: cadetblue;
		font-weight: 800;
		font-size: 14px;
		border-radius: 10px;
	}
	.close-btn-success {
		position: fixed;
		top: 6px;
		right: 65px;
		border: none;
		background: transparent;
		font-size: 22px;
		font-weight: 900;
		cursor: pointer;
		color: cadetblue;
	}
	/*alert*/

	.submit {
		border: none;
		/* border-radius: 5px; */
		font-size: 15px;
		width: 6rem;
		margin: 0 auto;
		color: #fefefe;
		padding: 17.5px 0;
		text-transform: uppercase;
		font-weight: 700;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		border-top-right-radius: 20px;
		border-bottom-right-radius: 20px;
		margin-left: 0px;
		background: #80a8a8 !important;
	}
	.btn-upload-label {
		background: #fefefe;
		border: 4px solid #80a8a8 !important;
		font-size: 20px;
		/* width: 100%!important; */
		padding: 10px 0;
		color: #858585;
		border-top-left-radius: 20px;
		border-bottom-left-radius: 20px;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
		width: 12rem;
	}

	figure{
		display: none!important;
	}

}


